%h1 Articles

.blurb
  %p I&rsquo;ve got content in reverse chronological order, for reals yo.

%table#articles
  - for article in @articles
    %tr
      %td.date= pretty_date(article.published_at)
      %td= link_to article.title, article