body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
	color: #c11;
	text-decoration: none;
}
a:hover {
	border-bottom: 1px solid #c11;
}
p {
	margin-bottom: 1em;
}
strong { font-weight: bold; }
em { font-style: italic; }
.fl { float: left; }
.fr { float: right; }
.orn { padding: 0 1em; }
span.amp {
	font-family: Baskerville, Palatino, "Book Antiqua", serif;
	font-style: italic;
}
/* @group layout */
#wrapper {
	
}
.content {
	width: 950px;
}
.content-right {
	float: right;
	margin-left: 350px;
	width: 600px;
}
/* @end */

/* @group hd */
#hd {
	background: #f8f8f8;
	height: 150px;
}
#hd a {
	border-bottom: none;
}
#hd a span {
	display: none;
}
#hd h1 {
	float: left;
	background: #c11;
}
#hd h1 a {
	display: block;
	height: 150px;
	width: 300px;
	background: url(../images/header.png);
}
#hd ul {
	float: right;
}
#hd li {
	float: left;
}
#hd li a {
	display: block;
	height: 150px;
	width: 150px;
}
#hd li a:hover {
}

/* @group nav */
#nav-articles a	{ background: url(../images/nav-articles.png); }
#nav-articles a:hover { background: url(../images/nav-articles-hover.png); }
#nav-tags a	{ background: url(../images/nav-tags.png); }
#nav-tags a:hover { background: url(../images/nav-tags-hover.png); }
#nav-about a	{ background: url(../images/nav-about.png); }
#nav-about a:hover { background: url(../images/nav-about-hover.png); }
#nav-contact a	{ background: url(../images/nav-contact.png); }
#nav-contact a:hover { background: url(../images/nav-contact-hover.png); }

/* @end */
/* @end */

/* @group bd */
#bd {
	margin: 100px 0;
	text-align: left;
}

/* @group main */
#main h1 {
	font-weight: bold;
	font-size: 300%;
}
#main h2 {
	font-weight: bold;
	font-size: 182%;
	color: #333;
}
#main h1 a {
	color: #000;
}
#main h1 a:hover {
	border-color: #000;
}
#main p {
	font-size: 123.1%;
}
#main .article-content ul {
  margin-bottom: 1em;
  font-size: 123.1%;
  margin-left: 1em;
}
#main .article-content li {
  list-style: circle;
}
#main div.blurb p {
	font-size: 167%;
	font-family: Georgia, Times, serif;
	font-style: italic;
/*	border-bottom: 1px solid #ccc;*/
	color: #999;
/*	padding-bottom: .5em;*/
	margin: .5em 0 1em 0;
}
#main .meta {
	padding: .5em;
	background: #eee;
	margin-bottom: 1em;
	font-size: 85%;
	color: #999;
/*	-moz-border-radius: 10px;*/
}
#main .meta a {
	color: #666;
}
#main .meta a:hover {
	border-color: #666;
}
#main .meta .date, #main .meta .tags {
	border-right: 1px solid #ccc;
	padding-right: .5em;
	margin-right: .5em;
}

.footnotes {
	border-top: 1px solid #ccc;
	font-size: 77%;
	padding-top: 1em;
}
.footnotes p {
	margin: 0;
}


/* @end */
/* @end */

/* @group ft */

#ft {
	background: #f8f8f8;
	min-height: 10px;
	color: #999;
	padding-top: 1em;
	width: 100%;
}
#ft .col1, #ft .col2 {
	width: 275px;
	float: left;
	min-height: 100px;
}
#ft .col1 {
	margin-right: 25px;
	padding-right: 24px;
	border-right: 1px dotted #ccc;
}
#ft h3 {
	font-weight: bold;
}
#ft a {
	color: #666;
}
#ft a:hover {
	border-color: #666;
}
#ft ul, #ft p {
	font-size: 85%;
}
#ft p.all-links a {
  margin: auto .5em;
}
ul#sites a span {
	display: none;
	color: #ccc;
}
ul#sites a:hover span {
	display: inline;
}



/* @end */

/* @group comments */
#comments {
	margin-top: 2em;
}
#comments h2 {
	font-size: 153.9%;
	margin-bottom: .5em;
}
#comments .comment {
	float: left;
	width: 100%;
	margin-bottom: 1em;
}
.comment .info, .comment .body {
	margin: auto;
}
.comment .info {
	float: left;
	width: 30%;
}
.comment .info .name {
	font-weight: bold;
	color: #333;
}
.comment .info .name a {
	color: #000;
}
.comment .info .name a:hover {
	border-color: #000;
}
.comment .info .date {
	color: #999;
	font-size: 85%;
}
.comment .info .authormark span {
	font-size: 66%;

	/*background: #c11;*/
	color: #c11;
	font-weight: bold;
	text-transform: uppercase;
	/*padding: .25em .5em;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;*/
	letter-spacing: .2em;
}

.comment .body {
	float: right;
	width:  70%;
	font-size: 81.25%; /* bring it back down to 13px */
}
.comment .body ul, .comment .body ol {
	margin: 0 0 1em 1em;
}
.comment .body ul li {
	list-style-type: disc;
}

/* @group comment-form */
#comment-form {
	border-top: 1px solid #ccc;
	width: 100%;
	float: left;
	padding-top: 1em;
}
#comment-form div.required, #comment-form div.optional {
	margin: .25em 0;
	padding: .25em;
	clear: both;
	float: left;
	width: 100%;
}
#comment-form label {
	float: left;
	width: 30%;
	font-weight: bold;
}
#comment-form label span {
	color: #999;
	font-size: 85%;
	font-weight: normal;

}
#comment-form input[type=submit] {
	float: right;
	font-weight: bold;
}
#comment-form input[type=text], #comment-form textarea {
	float: right;
	width: 68%;
	border: 1px solid #999;
	padding: .25em;
	color: #333;
}
#comment-form .optional input {
	border: 1px solid #ccc;
}
#comment-form a {
	color: #666;
}
#comment-form a:hover {
	border-color: #666;
}
/* @end */
/* @end */

/* @group tag cloud */
p.tag_cloud {
	margin: 1em 0;
}
.tag1 { font-size: 1.0em; }
.tag2 { font-size: 1.2em; }
.tag3 { font-size: 1.4em; }
.tag4 { font-size: 1.6em; }
.tag5 { font-size: 1.8em; }
.tag6 { font-size: 2.0em; }
/* @end */


/* @group posts */
#articles {
	padding-top: 1em;
	font-size: 131%;
}
#articles .date {
	width: 25%;
	display: inline-block;
}
#articles a {
	font-weight: bold;
}
/* @end */

/* @group fancylists */
ul.fancylist {
	margin-bottom: 1em;
}
ul.fancylist li {
	font-size: 123.1%;
	margin-left: 2em;
}
ul.fancylist li span.subtext {
	font-size: 75%;
	margin-left: .5em;
	color: #666;
	font-style: italic;
	font-family: Georgia, serif;
}
ul.fancylist li span.fancy {
	margin: 0 1em 0 -2em;
	color: #999;
	font-size: 90%;
}
/* @end */
