%h1 About
.blurb
  %p Learn things about Mr. Paul A. O&rsquo;Shannessy, like how awesome he is.

%p
  Hi, my name is Paul, and I&rsquo;m a weboholic.
  I&rsquo;ve been mucking around on this Internet thing for a while and it&rsquo;s grown on me.
  So I&rsquo;ve decided to make my career around it.

%h2 Scholarly
%p
  I graduated from the <a href="http://is.hss.cmu.edu">Information Systems</a> program at <a href="http://cmu.edu">Carnegie Mellon University</a> in May 2008.
  I am also pursuing a <a href="http://ism.heinz.cmu.edu/">Master of Information Systems Management</a> (also at Carnegie Mellon), and will be graduating in December of 2008 <strike>(and will be looking for a job!)</strike> <strong>and will be starting full-time at Mozilla in February 2009!</strong>

%h2 Workerly
%p
  I&rsquo;ve held a few jobs over the years, from bagger at a grocery store, to working on major open source projects.
%p
  In the summer of 2007 I interned with <a href="http://autos.yahoo.com">Yahoo! Autos</a> writing a lot of PHP, CSS, JS, and HTML.
  It was a valuable experience working for a smaller team within a large company.
  But no matter what anybody says, I don&rsquo;t think Yahoo! is going anywhere soon.
%p
  In the summer of 2008 I interned with Mozilla to work on <a href="http://mozilla.com/firefox">Firefox</a>.
  This was my first major foray into open source and desktop software, and it was awesome.
  I wrote a lot of JavaScript (and met the guy who created it).
  I have code in 3.1 and it&rsquo;s a little terrifying to think that <em>~180 million</em> people will be using it.

%h2 Otherly

%p
  I&rsquo;ve worked on a few projects (besides just school-related ones), including:
%ul.fancylist
  %li
    <a href="http://flolcatr.com">flolcatr</a>
    %span.subtext A project that generated lolcats from Flickr images for much amusement
  %li
    <a href="http://playground.zpao.com/yweather">yWeather</a>
    %span.subtext A JavaScript weather &ldquo;widget&rdquo;
  %li
    <a href="http://playground.zpao.com/lolcanvas">LOLcanvas</a>
    %span.subtext A bookmarklet to &ldquo;lolify&rdquo; Flickr images in a similar fashion as flolcatr
  %li
    <a href="http://playground.zpao.com/dtrace_treemaps">DTrace Treemaps</a>
    %span.subtext An experiment to visualize DTrace output analyzing Firefox performance
  %li
    <a href="http://sched.tcpulse.com">TCPulse Scheduler</a>
    %span.subtext A Ruby on Rails app to schedule courses at Carnegie Mellon
  %li
    <a href="http://tcpulse.com">TCPulse</a>
    %span.subtext Carnegie Mellon&rsquo;s other newspaper which I&rsquo;ve maintained and added a few things to

%h2 Webly
%p
  I get around:
  <a href="http://twitter.com/zpao">Twitter</a>,
  <a href="http://flickr.com/photos/zpao">Flickr</a>,
  <a href="http://last.fm/user/zpao">Last.fm</a>,
  <a href="http://del.icio.us/zpao">Del.icio.us</a>,
  <a href="http://www.facebook.com/profile.php?id=4800504">Facebook</a>,
  <a href="http://www.linkedin.com/in/pauloshannessy">LinkedIn</a>,
  and probably a few others.
  I&rsquo;ll fill them as I remember or add more.
