%h1 Contact
.blurb
  %p You know you want to tell me how much you love me.

%p
  I&rsquo;m available for contacting on most of the networks linked to on the
  = link_to "about page", about_path
  (and in the footer), so feel free to do that.
  Otherwise I&rsquo;ve got email, instant messaging, and phone.

%h2 Email

%p
  I have a number of email addresses, but I&rsquo;ll just give the one I associate with this domain:
  %script
    function hiveware_enkoder(){var i,j,x,y,x=
    "x=\"783d2230783d5c22333637373833333734643232363433333232353732373330323836" +
    "33313333333237373836393233643363333235333633333335633232323932333636353336" +
    "33333732393433343362333336333033363033373764373636333932323636313362363337" +
    "33613364333337363537333033363631363335366332333633383738313336326536363433" +
    "33363836363636313733323332343135333637343236353338333036363532393233373339" +
    "33623333363738333334336437383236363265373336363337353533373632373634333337" +
    "34333337373232333736383331333332323933333233623739363636336432333633373237" +
    "39333733623633313336366633333437323233363638363935333233643333353330336232" +
    "33323639333332336337383833323265363339336336353333323665363333363737343233" +
    "33363833363333623639363330326233333333643334313332323937363235623739633232" +
    "32623333303364373836336232653737393333373538333736323733643233373437333237" +
    "32323336323836393733623263333335333232393636363362373666336436363633333666" +
    "37373232323238383634363933333536643332393364336236363333393363323330373832" +
    "33623365366332333636353636393365363763363437343633363738336238326536393233" +
    "31336233643636633334323635333937623933363739323665366233643736333738323337" +
    "37653733343638373536333433323733363362373437363936323238363333363932326233" +
    "63333264363132393333373362376432323937393333303364373936376232653737393333" +
    "3735313337363237326233333734643335373232333637383661353665323933363333625c" +
    "223b343635793d27373333273b663033376f7228363336693d303136313b693c333737782e" +
    "6c303635656e6733303374683b363238692b3d32373332297b313336792b3d323532756e65" +
    "3736367363613332327065286237382725273635332b782e36326573756237333373747233" +
    "333628692c3735363229293236363b7d79223b6a3d6576616c28782e636861724174283029" +
    "293b783d782e7375627374722831293b793d27273b666f7228693d303b693c782e6c656e67" +
    "74683b692b3d36297b792b3d782e73756273747228692c33293b7d666f7228693d333b693c" +
    "782e6c656e6774683b692b3d36297b792b3d782e73756273747228692c33293b7d793d792e" +
    "737562737472286a293b\";y='';for(i=0;i<x.length;i+=2){y+=unescape('%'+x.sub" +
    "str(i,2));}y";
    while(x=eval(x));}hiveware_enkoder();
  %noscript
    myname[AT]zpao[DOT]com


%h2 Other ways?
%p
  If you know me, then you&rsquo;ll find a way to contact me. It&rsquo;s not that hard.