%h1 Tags
.blurb
  %p Tag clouds are sooo 2006, but I wanted one.

%p.tag_cloud
  -tag_cloud @tags, %w(tag1 tag2 tag3 tag4 tag5 tag6) do |tag, css_class|
    = link_to tag.name, tag, :class => css_class